* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-heading {
  color: $black;
  font-size: 30px;
  margin: auto;
  width: fit-content;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 50px;

  h2 {
    font-size: 35px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: $black;
  }

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $black;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    background-color: $white;
  }
}